$primary: #de6600;
$secondary: #007a7a;
$info: #ebd9c8;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sigmar+One&display=swap');

// Used this to remove bullet points in targeted lists
.list {
    list-style-type: none;
}

.logo {
  font-family: 'Sigmar One', sans-serif;
  font-size: 5vw;
}

.home {
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}

.nav {
  font-size: 1.15vw;
  font-family: 'Sigmar One', sans-serif;
}

// Styles the main box
.mainbox {
  border: dashed white 5px;
  border-radius: 30px;
  align-content: center;
  padding: 5%;
  font-family: 'Sigmar One', sans-serif;
  background-color: $info;
  margin: auto;
}

.card-header {
  font-family: 'Sigmar One', sans-serif;
  background-color: $primary;
  color: $info;
}

// removed all the borders from the buttons
.button {
  border: none;
  margin: 2%;
  color: #fea02f;
}
